<a href="https://colab.research.google.com/github/bassiale/power-consumption/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [4]:
#ritrasformo i dati in un dataframe
data = pd.read_csv('/content/data.csv')
data.head()

   Unnamed: 0  membri_familiari  lavatrice  ...       12F1       12F2       12F3
0           0                 3          1  ...  45.388086  38.540798  43.082045
1           1                 5          1  ...  49.550667  47.796720  54.788353
2           2                 2          1  ...  46.888101  36.727294  47.652372
3           3                 5          0  ...  50.085174  43.749681  49.407447
4           4                 4          1  ...  41.251091  37.857928  41.493138

[5 rows x 42 columns]

In [5]:
#separo i dati per l'allenamento del modello e i risultati
train_x = data.loc[:,'membri_familiari':'condizionatore']
train_y = data.loc[:, '1F1':]

In [6]:
#creo un modello(random forest)
forest_model = RandomForestRegressor(random_state=1)
#lo alleno
forest_model.fit(train_x, train_y)
#calcolo l'errore sul dataset
melb_preds = forest_model.predict(train_x)
print(mean_absolute_error(train_y, melb_preds))

1.228724647358476