<a href="https://colab.research.google.com/github/bassiale/power-consumption/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [6]:
#ritrasformo i dati in un dataframe
data = pd.read_csv('/data.csv')
data.head()

   Unnamed: 0  membri_familiari  lavatrice  ...       11F1       11F2       11F3
0           0                 4          2  ...  43.018831  37.300107  45.271408
1           1                 5          1  ...  55.018544  47.485719  47.838740
2           2                 1          0  ...  49.460122  30.482470  38.097154
3           3                 1          2  ...  42.456431  38.770304  47.009854
4           4                 2          2  ...  46.411829  32.534954  39.411516

[5 rows x 42 columns]

In [7]:
#separo i dati per l'allenamento del modello e i risultati
train_x = data.loc[:,'membri_familiari':'condizionatore']
train_y = data.loc[:, '1F1':]

In [8]:
#creo un modello(random forest)
forest_model = RandomForestRegressor(random_state=1)
#lo alleno
forest_model.fit(train_x, train_y)
#calcolo l'errore sul dataset
melb_preds = forest_model.predict(train_x)
print(mean_absolute_error(train_y, melb_preds))

1.2461133254452856